.hero {
    background: url('mars-image.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    font-size: 3em;
}
.journal-entry {
    margin-bottom: 2em;
}
.site-container {
    margin: 0 auto;
    max-width: 960px;
}
body {
    background-image: url(background.jpg);
    background-size: cover;
}
.duma-a-semmirol {
    background-color: lightgray;
    text-align: justify;
}
.welcome-text, .why-went-there {
    margin: 30px;
}
#map {
    margin: 19px;
}